<%//form%>

<form method="POST" action="/new">
    <label for="name">User</label>
    <input type="text" name="messageUser" id="name" maxlength="15">
    <label for="text">text</label>
    <input type="text" name="messageText" id="text" maxlength="15">
    <button type="submit">Submit</button>
</form>